:root{
--global--body--FontSize: 16px;
--global--heading--Color: #494949;
--global--font--Color: #6a6a6a;
--global--nav--Color: #6c6c6c;
--global--navActive--Color: #262626;
--global--blue--Color: #0087be;
}
