.gallery{
background: url('../images/gallery_bg.jpg') no-repeat center center;
background-size: cover;
color: #ffffff;
}

.wrapper--gallery{
padding: em(35) 0;
max-width: rem(1102)
}

.header-gallery{
padding-bottom: em(15);
}

.header-gallery__title{
color: inherit;
text-align: center;
}

.gallery-text{
color: inherit;
text-align: center;
}

.gallery-content{
padding-top: em(27);
}

.gallery-media{
margin: 0 auto;
max-width: rem(344);

  &:nth-child(1n+2){
  margin-top: em(17.5);
  }
}
